.mySectionMapa {
    min-height: 100vh;
    max-width: 100%;
}

.mySection {
    min-height: 100vh;
}

.myfooter {
    background: #000;
}

#nosotros {
    background-image: url('/src/assets/enciclo.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}